@using MusicStore.SiteMap.Models
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@model SiteMapNode

@functions
{
    string CreateAnchor(SiteMapNode node)
    {
        return $"<a href=\"{@node.Uri}\" class=\"{ViewData["aClass"]}\">{@node.Title}</a>";
    }

    async Task<IHtmlContent> RenderListItemNode(SiteMapNode node)
    {
        if (string.IsNullOrEmpty(node.AuthorizationPolicy) || (await AuthorizationService.AuthorizeAsync(User, node.AuthorizationPolicy)).Succeeded)
        {
            return Html.Raw($"<li class=\"{ViewData["liClass"]}\">{CreateAnchor(node)}</li>");
        }
        else
        {
            return Html.Raw("");
        }
    }
}


<ul class="@ViewData["ulClass"]">

    @await RenderListItemNode(Model)

    @foreach (SiteMapNode node in Model.Childrens)
    {
        @await RenderListItemNode(node)
        if (node.Childrens.Count > 0)
        {
            foreach (var childNode in node.Childrens)
            {
                @await RenderListItemNode(childNode)
            }
        }
    }
</ul>
