@model Order

@{
    ViewBag.Title = "AddressAndPayment";
}

<form asp-action="AddressAndPayment" asp-antiforgery="true">
    <h2>Address And Payment</h2>
    <fieldset>
        <legend>Shipping Information</legend>
        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>We're running a promotion: all music is free with the promo code: "FREE"</p>

        <div class="form-group">
            <label asp-for="PromoCode"></label>
            <input asp-for="PromoCode" class="form-control" />
            <span asp-validation-for="PromoCode" class="text-danger"></span>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit Order</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}