@model IEnumerable<Album>

@{
    ViewBag.Title = "Browse Albums";
}

<div class="container-fluid genre">
    <div class="row">
        <h2>
            <em>@ViewData["GenreName"]</em> Albums
        </h2>
    </div>
    <div class="row">
        <ul class="list-unstyled">
            @foreach (var album in Model)
            {
                <li class="media">
                    <!--newer version using display templates-->
                    @Html.DisplayFor(m => album, "AlbumLink")
                </li>
            }
        </ul>
    </div>
</div>

