@model IEnumerable<Album>

@{
    ViewBag.Title = "Browse Albums";
}
<div class="genre">
    <h3>
        <em>@ViewData["GenreName"]</em> Albums
    </h3>
    <ul class="albums-list">
        @foreach (var album in Model)
        {
            <li>
                <!--newer version using display templates-->
                @Html.DisplayFor(m => album, "AlbumLink")
            </li>
        }
    </ul>
</div>

