@model IEnumerable<Album>
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid genre">
    <div class="row">
        <h2>
            <em>Fresh</em> off the grill
        </h2>
    </div>
    <div class="row">
        <ul class="list-unstyled">
            @foreach (var album in @Model)
            {
                <li>
                    @Html.DisplayFor(x => album, "AlbumLink")
                </li>
            }
        </ul>
    </div>
</div>
