@model Album

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Album</h2>

<hr />
<form asp-action="Edit">

    @Html.EditorFor(x => Model)

    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back</a>
</div>
