@{
    ViewData["Title"] = "Index";
}

<h1>Setup Area</h1>

<p>Select your destiny</p>

<ul>
    <li>
        @Html.ActionLink("Roles", "Roles")
    </li>
    <li>
        <a asp-action="CreateUser" asp-controller="Home" asp-area="Setup">Create Admin</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="DatabaseSeed" asp-area="Setup">Db Seed</a>
    </li>
</ul>

