@{
    ViewData["Title"] = "Index";
}

<h1>Setup Area</h1>

<p>Welcome young padawan. Please select your destiny.</p>

<ul>
    <li>
        <a asp-action="Index" asp-controller="Users" asp-area="Setup">Users</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="DatabaseSeed" asp-area="Setup">Db Seed</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Roles" asp-area="Setup">Roles</a>
    </li>
</ul>

